
{% extends 'jobs_search/base.html'%}
{%block body%}
<br>
{%if list_annonces%}
<h3 style="text-align: center;">My offers</h3>
{%for annonce in list_annonces%}
<br>

<div class="ui container">

    <div class="ui segment">
        <div class="ui items">
          <div class="item">
            <div class="image">
              <img src="{{annonce.image.url}}">
            </div>
            <div class="content">
              <a class="header" style='color:#21BA45' href="{% url 'jobs_search:detail' annonce.id%}">{{annonce.title}}</a>
              <br>
              <h5>{{annonce.owner}}</h5>
              <div class="extra">
                {{annonce.date}}
              </div>
              <div class="extra">
                {{annonce.region}}
              </div>
            </div>
          </div>

        </div>
    </div>
</div>
{%endfor%}
{%else%}
<h3 style="text-align: center;">you don't have any offers</h3>
{%endif%}
{%endblock%}
